<br>
<div class="container">

    <div class="row"><input type="text" [(ngModel)]='c' class="form-control form-control-lg"></div>
    <br>

    <div class="row justify-content-center"> <button class="btn btn-primary mb-2" appAttributeDirective
            [color]='c'>Mouse hover over me </button></div>

    <div style="height: 620px;"></div>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3" style="color: grey;">
            <h5>Explanation :</h5>
            This Demo is implementing the custom attribute directive which changes the color of the content of button
            when you hover over the button.
        </div>
    </footer>
</div>