<div class="container">
    <br>
    <div class="row justify-content-center ">
        <h1>Angular Training Walkthrough</h1>
    </div>
    <div class="row justify-content-center">
        <img src="../assets/angular.jpg" alt="" style="height: 250px;">
        <div style="width: 160px;"></div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/data-binding">Data Binding <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product">Product</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" routerLink="/master-detail"> Master Detail </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/custom-attribute-directive">Attributive Directive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/send-data">Share Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/error-handler">Error handler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login-form">Login Form</a>
            </li>
        </ul>
    </div>
</div>