.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: white;
    text-align: center;
 }

 .w-75{
    width: 75px;
}

.w-100{
    width: 100px;
}