<br>



<div class="container" style="align-items: center;">

    

    <div class="row"> 
        <label>Enter Title</label>
        <br>
        <input type="text" [(ngModel)] ='search' class="form-control my-3">
        <br>
        <label>Enter Price</label>
        <br>
        <input type="text" [(ngModel)] ='price' class="form-control my-3">
    </div>
    <br>

    <h1>FILTERED DATA </h1>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Expiry Date
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        In Stock
                    </th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let p of products | productSearch : search | productPipe : price">
                    <td>{{p.Id}}</td>
                    <td>{{p.Title}}</td>
                    <td>{{p.Price | currency : 'INR'}}</td>
                    <td>{{p.ExpiryDate |date}}</td>
                    <td>{{p.Quantity }}</td>
    
                    <td >
                        <ng-container *ngIf="p.isInStock; then instock else outofstock">
                        </ng-container>
    
                        <ng-template #instock>
                            <i class="fas fa-check"></i>
                        </ng-template>
    
                        <ng-template #outofstock>
                            <i class="fas fa-times"></i>
    
                            <button class="btn btn-danger">Order Now</button>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
    
        </table>
    </div>
    <div style="height: 240px;"></div>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3" style="color: grey;">
            <h5>Explanation :</h5>
            This Demo is implemented with the help of Structure directive and Pipes.
        </div>
    </footer>
</div>





<!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="products">

    <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{products.Id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let lesson">{{lesson.description}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let lesson">{{lesson.duration}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table> -->

