<br>
<div class="container">
    <div class="row justify-content-center">
        <button class="btn btn-primary mb-2" (click)='generateError()'>Generate Error</button>
    </div>
    <div class="row justify-content-center">
        <div>
            <img src="../assets/component.PNG" alt="" style="height: 400px;">
        </div>
        <div>
            <img src="../assets/service.PNG" alt="" style="height: 350px; width: 550px;">
        </div>

        <div>
            <img src="../assets/output.PNG" alt="" style="height: 150px; width: 600px;">
        </div>

    </div>
</div>