<br>

<div class="container">
    <div class="row justify-content-center">
        <button class="btn btn-primary mb-2" (click)='generateError()'>Generate Error</button>
    </div>

    <div class="row">

        <div class="col-md-2">
            <img src="../assets/component.jpg" height="340px" width="550px">

        </div>
        <div class="col-md-4"></div>

        <div class="col-md-2"> <img src="../assets/service.jpg" height="340px" width="600px"></div>

    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <img src="../assets/output.jpg">
    </div>
    <div style="height: 220px;"></div>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3" style="color: grey;">
            <h5>Explanation :</h5>
            This demo demonstrate global error handling which makes use of custom created service.
        </div>
    </footer>
</div>