<div class="container">
    <div class="row">
        <br>
        <div class="col-md-2">

        </div>

        <div class="col-md-4">
            <br>
            <input type="number" [(ngModel)]="height" class="form-control">
        </div>
        <div class="col-md-4">
            <br>
            <input type="number" [(ngModel)]="width" class="form-control">
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-4" style="text-align: center;">
            <button (mouseenter)="setproperty()" (mouseleave)="leave()"> <img [src]="imgsource"
                    [style.height.px]='height' [style.width.px]='width' /></button>
        </div>

        <div class="col-md-4">

        </div>
    </div>
    <br>
    <div style="height: 350px;"></div>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3" style="color: grey;">
            <h5>Explanation :</h5>
            This Demo is implemented with the help of two-way data binding, event binding and property binding.
        </div>
    </footer>
</div>